.top_container {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  border: 0;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  background-color: #D6D6D6;
  padding-right: 0; }
  .top_container_list {
    list-style-type: none;
    display: flex;
    margin: 0;
    border: 0;
    padding-left: 0px;
    padding-left: 0px;
    padding-right: 0; }
    .top_container_list_image {
      background: url("frontiermain.png") no-repeat;
      display: block;
      height: 128px;
      width: 239px;
      margin: 0;
      border: 0;
      background-size: 100% 100%;
      padding-right: 0; }
    .top_container_list_top1 {
      padding: 0px; }
      .top_container_list_top1_top2 {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        background-color: #D6D6D6;
        font-family: times new roman;
        color: #353535;
        padding-right: 20px;
        height: 50px;
        width: 100%;
        padding-right: 0; }
        .top_container_list_top1_top2_resi {
          padding-top: 15px;
          padding-left: 60px;
          padding-right: 20px; }
        .top_container_list_top1_top2_bussi {
          padding-top: 15px;
          position: relative;
          border: 0px;
          top: 0px;
          padding-left: 40px;
          padding-right: 35px;
          color: white;
          background-color: #353535; }
        .top_container_list_top1_top2_wholesale {
          padding-left: 40px;
          padding-right: 20px;
          padding-top: 15px; }
        .top_container_list_top1_top2_bap {
          padding-left: 40px;
          padding-right: 20px;
          padding-top: 15px; }
        .top_container_list_top1_top2_num {
          padding-top: 15px;
          background-color: #D6D6D6;
          color: #CF2F34;
          font-family: times new roman;
          padding-left: 20px;
          padding-right: 20px; }
        .top_container_list_top1_top2_quote {
          background-color: #CF2F34;
          position: relative;
          height: 0px;
          top: 12px;
          padding-bottom: 18px;
          padding-left: 5px;
          padding-right: 5px;
          color: white;
          font-weight: lighter;
          font-size: 10px;
          font-family: verdana;
          padding-top: 5px; }
        .top_container_list_top1_top2_search {
          padding-left: 40px;
          padding-right: 20px;
          padding-top: 15px; }
      .top_container_list_top1_list2 {
        padding-top: 30px;
        padding-bottom: 80px;
        display: flex;
        list-style-type: none;
        background-color: white;
        color: #404040;
        width: 100%;
        font-family: verdana;
        border: 0px;
        margin: 0px;
        padding-left: 50px; }
        .top_container_list_top1_list2_pro {
          padding-left: 50px;
          padding-right: 30px; }
        .top_container_list_top1_list2_account {
          background-color: #CF2F34;
          color: white;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 5px;
          margin-left: 60px;
          margin-top: 5px; }

/*# sourceMappingURL=stylecss.css.map */
